<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.earth.jeonghyeonkim.dao.DangMemberMapper">
	
	<select id="select" parameterType="String" resultType="DangMemberDto">
		SELECT email, pwd, name
		FROM dang_member
		WHERE email = #{email}
	</select>
	
	<insert id="insert" parameterType="DangMemberDto">
		INSERT INTO dang_member(email, pwd, name)
		VALUES(#{email}, #{pwd}, #{name})
	</insert>
	
</mapper>