<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.mapper.ChatChattingMapper">
	
	<!-- 채팅목록 가져오기 -->
	<select id="selectAll" parameterType="map" resultType="ChatChattingDto">
		SELECT *
		FROM tb_chat_chatting
		WHERE chatroom_id = #{chatroom_id} AND chat_date >= #{participation_date}
		ORDER BY id
	</select>
	
	<!-- 채팅 보내기 -->
	<insert id="insert" parameterType="ChatChattingDto">
		INSERT INTO tb_chat_chatting(sender_nickname, chatroom_id, chat, chat_date)
		VALUES(#{sender_nickname}, #{chatroom_id}, #{chat}, #{chat_date})
	</insert>
	
	<!-- 채팅 읽음 상태로 변경하기 -->
	<update id="updateCheckReadToTrue" parameterType="map">
		UPDATE tb_chat_chatting
		SET check_read = true
		WHERE chatroom_id = #{chatroom_id} and sender_nickname != #{login_nickname}
	</update>
	
</mapper>