<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.korea.dao.ChatRoomMapper">
	
	<!-- 모든 채팅방 목록 가져오기 -->
	<select id="selectAll" parameterType="string" resultType="ChatRoomDto">
		SELECT chatroom_id, other_id, recent_id, recent_chat, recent_date, unread_cnt
		FROM t_userchatroom
		JOIN t_chatroom ON chatroom_id = id
		WHERE login_id = #{login_id}
		ORDER BY recent_date desc
	</select>
	
	<!-- 채팅방 만들기 -->
	<insert id="insert" parameterType="ChatRoomDto" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_userchatroom(recent_id, recent_chat)
		VALUES(#{recent_id}, #{recent_chat})
	</insert>
	
	<!-- 채팅방 최신메시지 업데이트하기 -->
	<update id="updateChatRoom" parameterType="ChatRoomDto">
		UPDATE t_chatroom
		SET recent_id = #{recent_id}, recent_chat = #{recent_chat}, recent_date = now(),  unread_cnt = unread_cnt + 1
		WHERE id = #{id}
	</update>
	
	<!-- 채팅방을 확인할 때 마지막 메시지가 다른 사람이 보낸 메시지면 true로 만듦 -->
	<update id="updateUnreadCntToZero" parameterType="map">
		UPDATE t_chatroom
		SET unread_cnt = 0
		WHERE id = #{id} and recent_id != #{login_id}
	</update>
	
</mapper>