<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earth.mapper.ImageMapper">

    <insert id="insert" parameterType="img">
        <choose>
            <when test='pt_category=="dogProfile"'>
                insert into
                tb_photo
                (pt_adres,pt_category,user_email,pt_reg_date)
                values (#{pt_adres},#{pt_category},#{user_email},now())
            </when>
            <when test='pt_category=="comuPost"'>
                INSERT INTO
                tb_post_photo
				(pt_adres, pt_category, user_email, post_id, pt_reg_date)
				VALUES(#{pt_adres}, #{pt_category}, #{user_email}, #{postNum}, now());
            </when>
        </choose>
    </insert>

    <select id="select" parameterType="img" resultType="img">
        select *
        from tb_photo
        where user_email = #{user_email}
          and pt_category = #{pt_category}
    </select>

    <delete id="delete" parameterType="img">
        delete from tb_photo where user_email=#{user_email} and pt_category=#{pt_category}
    </delete>
    
    <!-- dangcomu select all -->
	<select id="comuSelectAll" parameterType="img" resultType="img">
        select *
        from tb_post_photo
        where user_email = #{user_email}
        and pt_category = #{pt_category}
        and post_id = #{postNum}
    </select>
    
    <!-- dangcomu delete -->
    <delete id="comuDelete" parameterType="img">
    	DELETE FROM tb_post_photo
		WHERE post_id = #{postNum};
    </delete>
    

</mapper>





