<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.earth.jeonghyeonkim.dao.DanggeunMapper">

	<sql id="selectFromDanggeun">
		SELECT id, title, name, type_id, local_id, price, content, writer, view_cnt, add_cnt, reg_date, up_date
		FROM danggeun
	</sql>

	<select id="select" parameterType="int" resultType="DanggeunDto">
		<include refid="selectFromDanggeun"/>
		WHERE id = #{id}
	</select>
	
	<select id="selectAll" resultType="DanggeunDto">
		<include refid="selectFromDanggeun"/>
		ORDER BY reg_date, id desc
	</select>
	
	<select id="selectBySearch" parameterType="map" resultType="DanggeunDto">
		<include refid="selectFromDanggeun"/>
		WHERE type_id = #{type_id} AND local_id = #{local_id}
	</select>
	
	<insert id="insert" parameterType="DanggeunDto">
		INSERT INTO danggeun(title, name, type_id, local_id, price, content, writer)
		VALUES(#{title}, #{name}, #{type_id}, #{local_id}, #{price}, #{content}, #{writer})
	</insert>

</mapper>












