<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.mapper.AddressSigoonMapper">
	
	<select id="selectBySido" parameterType="String" resultType="AddressSigoonDto">
		SELECT *
		FROM tb_address_sigoon
		WHERE sido_code = #{sido_code}
	</select>

	<select id="select" parameterType="String" resultType="AddressSigoonDto">
		SELECT *
		FROM tb_address_sigoon
		WHERE code = #{code}
	</select>
	
</mapper>