<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.mapper.ChatUserChatRoomMapper">
	
	<!-- 현재 채팅방 이용자 수 가져오기 -->
	<select id="selectUserCnt" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM tb_chat_userchatroom
		WHERE chatroom_id = #{chatroom_id} AND participation = true
	</select>
	
	<!-- 채팅방 가져오기 -->
	<select id="selectChatRoom" parameterType="map" resultType="ChatUserChatRoomDto">
		SELECT *
		FROM tb_chat_userchatroom
		WHERE login_nickname = #{login_nickname} and other_nickname = #{other_nickname}
	</select>

	<!-- 채팅방 생성하기 -->
	<insert id="insert" parameterType="ChatUserChatRoomDto">
		INSERT INTO tb_chat_userchatroom(chatroom_id, login_nickname, other_nickname, participation, participation_date) 
		VALUES(#{chatroom_id}, #{login_nickname}, #{other_nickname}, true, #{participation_date}),
		       (#{chatroom_id}, #{other_nickname}, #{login_nickname}, true, #{participation_date})
	</insert>

	<!-- 채팅방 나갈 때 -->
	<update id="leaveChatRoom" parameterType="map">
		UPDATE tb_chat_userchatroom
		SET participation = false
		WHERE chatroom_id = #{chatroom_id} AND login_nickname = #{login_nickname}
	</update>
	
	<!-- 채팅방 다시 들어올 때 -->
	<update id="entryChatRoom" parameterType="map">
		UPDATE tb_chat_userchatroom
		SET participation = true, participation_date = ${participation_date}
		WHERE chatroom_id = #{chatroom_id} AND login_nickname = #{login_nickname}
	</update>	
	
</mapper>