@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root {
    --background-color: #ed8b9e;
    --bodybackground-color: #a1e1dc;
}
body {
    font-family: 'NanumSquareNeo-Variable';
    margin: 0;
    background-color: var(--bodybackground-color);
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 16px 12px;
    height: 100px;
}
.navbar__logo {
    position: sticky;
    margin-left: 2%;
}
.logo {
    width: 120px;
    margin-left: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}
.navbar__menu {
    list-style: none;
    display: flex;
    margin-top: 55px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 50px;
}
.navbar__menu li {
    padding: 12px 24px;
}
.navbar__menu a {
    color: #ed8b9e;
}
.navbar__menu li:hover {
    background-image: linear-gradient(transparent 75%, #c4aedb 50%);    
}
.navbar__icons {
    list-style: none;
    display: flex;
    color: #fff;
}
.navbar__icons li {
    padding: 8px 12px;
    margin: 0;
}
.navbar__toggleBtn {
    display: none;
    color: #fff;
    position: absolute;
    margin-top: 12px;
    right: 30px;
    font-size: 20px;
}
#btnLogin {
    margin: 0;
    color: #fff !important;
    border: none;
    background-color: #ed8b9e;
    font-weight: bold;
}
.btnLogin {
    background-color: #ed8b9e;
    border: 0.12rem solid #ed8b9e;
}
#scroll-top {
    display:scroll;
    position:fixed;
    bottom:10%;
    right:5%;
    width: 50px;
    border-radius: 30px;
    border: none;
    text-align: center;
    padding: 1%;
    font-weight: 800;
    background-color: #b7a4cc;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .logo {
        width: 80px;
        margin-left: 0px;
    }
    .navbar__menu {
        list-style: none;
        display: flex;
        padding: 0px;
        font-size: 14px;
    }
    .navbar__menu li {
        text-align: center;
        padding: 12px 18px;

    }
}

/*768 이하로 줄어들면 내비바*/
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 30px;
        height: 100%;
    }
    .navbar__logo {
        position: sticky;
        margin-left: 2%;
        width: 80px;
        height: 40px;
        margin: 0px;
    }
    .logo {
        width: 50px;
        margin: 0px;
        height: 50px;

    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__menu li:hover {
        transform: scale(1.1);
        background-image: none;    
    }
    .navbar__icons {
        justify-content: center;
        width: 100%;
    }
    .navbar__toggleBtn {
        display: block;
    }
    #scroll-top {
        display:scroll;
        position:fixed;
        bottom:5%;
        right:2%;
        text-align: center;
        padding: 1%;
        border-radius: 30px;
        border: none;
        font-weight: 800;
        background-color: #b7a4cc;
        color: #fff;
    }
}
.navbar__menu.active,
.navbar__icons.active {
    display: flex;
}

#main {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #e0e0e069;
}

.main-map {
    width: 800px;
    height: 700px auto;

}

.dogicon {
    display: flex;
    position: absolute;
    width: 10%;
    margin: 13px 5%;

}

.main-title {
    font-size: 44px;
    font-weight: bolder;
    color: #4b4b4b;
    font-family: 'Gaegu', cursive !important;
    margin: 18px;

}

.main-side {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 10px 0;
}

.main-pin {
    text-align: center;

}

.main-pin>a>img {
    width: 90px;
    transform: scale(1.0);
    /* 이미지 확대 */
    transition: transform .5s;
    /* 시간 설정 */
}

.main-pin>a>img:hover {
    transform: scale(1.5);
    /* 이미지 확대 */
    transition: transform .5s;
    /* 시간 설정 */
}

/* 모바일 화면 */
@media only screen and (max-width: 786px) {
    #main {
        display: block;
        /* border-bottom: 5px solid #ed8b9e; */
        background-color: #7c7c7c24;
        height: 580px;
    }

    .main-map {
        width: 100%;
        height: auto;

    }


    .main-side {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }

    .main-title {
        font-size: 22px;
        color: #fff;
        margin-left: 30px;
    }

    .main-pin {
        text-align: center;
        display: inline-flex;
        /* 변경된 부분 */
    }

    .main-pin>a>img {
        width: 70px;
        transform: scale(1.0);
        transition: transform .5s;
    }

    .main-pin>a>img:hover {
        transform: scale(1.5);
        transition: transform .5s;
    }
}

.main-about {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

#main-btn {
    color: #484848;
    border: none;
    border-radius: 30px;
    background-color: #e7e3ce;
    width: 200px;
    height: 50px;
    top: 0%;
    font-size: 20px;
    font-weight: 800;
    margin: 0px 15px;
    position: relative;
    font-family: 'Gaegu', cursive !important;

}
.info-title {
    display: block;
    background: #A7AAD1;
    color: #fff;
    text-align: center;
    height: 48px;
    line-height:22px;
    border-radius:4px;
    padding:3px 16px;
    font-weight: 600;
    font-size: 14px;
    border: 3px solid #CBEFD1;


}
.info-title-info {
    color: #FFC9D1;


}

.info-title-view {
    color:#FBFEE5;



}
.main-about-img {
    width: 70% auto;
    position: relative;
    display: flex;
}

@media screen and (max-width: 786px) {

    .main-map {
        flex-direction: column;
    }

    .main-side {
        display: flex;
    }
    .main-about {
        display: flex;
        margin-top: 30%;
    }
    .main-about-img {
        margin: auto;
        text-align: center;
        align-items: center;
    }
}


/*댕댕케어 슬라이드*/
.caremain {
    position: relative;
    text-align: center;
}

.care-img {
    display: block;
    margin: auto;
    top: 30%;
}

/*댕댕케어 버튼*/
#petbtn {
    color: #131313;
    border: #ed8b9e solid;
    background-color: #ed8b9e;
    width: 200px;
    height: 50px;
    font: 500;
    font-weight: 700;
    position: static;
    top: 20%;

}

.map {
    width: 60% auto;
}

.info_ck {
    display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 {
    color : green;
    display : none;
    position: absolute;
    font-size: x-small;

}
.pwck_input_re_2 {
    color : red;
    display : none;
    position: absolute;
    font-size: x-small;

}


body h3 {
    position: absolute;
    display: flex;
    top: 37%;
    left: 42%;
    transform: translate(-50%, -50%)
}

.input_name {
    margin-top: 20px;
    margin-bottom: 15px;
}

.input_nickname {
    margin-bottom: 30px;
}

/*채팅*/

  #container{
    box-sizing:border-box;
    width:750px;
    height:700px;
    background:#f0e7e9;
    margin:0 auto;
    margin-top: 20px;
    font-size:0;
    border-radius:10px;
    overflow:hidden;
    align-items: center;
  }
  #chat-list{
    width:260px;
    height:800px;
    background-color:#e5bac2;
    
    display:inline-block;
    font-size:15px;
    vertical-align:top;
    text-align: left;
  }
  #chattings{
    width:490px;
    height:800px;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  
  #chat-list header{
    padding:20px 20px;
  }
  #chat-list #search-box {
    width:150px;
    height:40px;
    line-height:50px;
    padding:0 50px 0 20px;
    background-color:#f0e7e9;
    border:none;
    border-radius:3px;
    color:#2b2b2b;
    background-repeat:no-repeat;
    background-position:170px;
    background-size:40px;
  }
  #chat-list input::placeholder{
    color:#696969;
    font-size: 12px;
  }
  #chat-list ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    height:690px;
  }
  #chat-list li{
    padding:5px 0;
    height: 50px;
    padding-left: 30px;
    background-color:#9d8db3;
    border-bottom: 2px solid #ffffff5b;
    border-radius: 10px;


  }
  #chat-list li:hover{
    background-color:#9385a5;
  }
  
  .new-msg{
    width:50px;
    height:20px;
    border-radius:5%;
    display:inline-block;
    margin:15px;
    background-color:tomato;
    font-size: 14px;
    color: #ffffff;
    text-align: center;

  }
  #chat-header {
    height:10px;
    padding:20px 20px 20px 50px;
    font-weight: bold;
  }
  
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:500px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    padding:10px 30px;

  }
  #chat-time {
    color:#bbb;
    font-size:13px;
    display:inline-block;
    margin-left: 5px;
  }
  #chat_other_id {
    font-weight: bold;
    color: #333;
    margin-right: 10px;
  }
  #chat .message{
    padding:10px;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
  }
  #chat #chat-right{
    text-align:right;
  }
  #chat #chat-left .message{
    background-color:#9d8db3;
  }
  #chat #chat-right .message{
    background-color:#ec98a8;
  }
  
  #chat-footer{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px 20px 10px 20px;
    
  }
  #send-btn {
    border: none;
    background-color: #ed8b9e;
    font-weight: bold;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 0px 8px 8px 0px;
    margin: 0px;
  }
  #msg-input{
    border:none;
    display:block;
    width:70%;
    height:60px;
    border-radius:8px 0px 0px 8px ;
    padding:10px;
    font-size:13px;
    margin-bottom:0px;
  }
  #msg-input::placeholder{
    color:#cccccc;
  }
  #user-name {
    color: #fff;
    font-weight: bold;
    
  }
  
  #Chk-form {

  	display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#form-box {
    background-color: #9d8db3;
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 300px;
}

#forget-input {
    text-align: center;
    margin: 10px;
    color: #fff;
}
#text-box{
    width: 200px;
    height: 30px;
    margin: 5px;
    border: none;
    color: black;
}

#find-btn {
    width: 70%;
    height: 30px;
    margin: 10px;
    text-align: center;    
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #ac9dc0;
    font-weight: bold;
}
#find-set {
    text-align: center;
    font-size: 13px;
    color: #fff;
    text-decoration: none;


}

#find-pwd, #joinus, #login {
    margin: 5px;

}

#result-box {
    background-color: #e495a5;
    padding: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;

}
#result-box a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;

}

#pwChange-form {
	text-align: center;
}
#pwChange-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	
	
}

#pwdset-btn {
    width: 80%;
    height: 30px;
    margin: 10px;
    text-align: center;    
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #e495a5;
    font-weight: bold;
}
#findresult-set {
    text-align: center;
    font-size: 13px;
    color: #9d8db3;
    text-decoration: none;

}

#forget-result {
    width: 400px;
    color: #fff;
    
}
#login-btn {
    width: 100%;
    height: 30px;
    margin: 0 0 10px 0;
    text-align: center;    
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #e495a5;
    font-weight: bold;
}
#set-pwd-form {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 10px;
    text-align: center;
    
}
#set-pwd-box {
	background-color: #e495a5;
    padding: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: #fff;
}
#form-box  a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
}

.pwd-submit-btn {
	width: 200px;
    height: 30px;
    margin: 20px;
    text-align: center;    
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #9d8db3;
    font-weight: bold;
    border: none;
	
}

