<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.earth.danggeun.dao.DanggeunTypeMapper">
	
	<!-- 타입 목록을 부를 때 사용 -->
	<select id="selectAll" resultType="DanggeunTypeDto">
		SELECT id, name
		FROM danggeun_type
	</select>
	
</mapper>