<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earth.danggeun.dao.SidoMapper">

	<insert id="insert" parameterType="SidoDto">
		INSERT INTO sido(sido_code, sido_name)
		VALUES(#{sido_code}, #{sido_name})
	</insert>

	<select id="selectAll" resultType="SidoDto">
		SELECT sido_code, sido_name
		FROM sido
	</select>
	
	<select id="select" parameterType="String" resultType="SidoDto">
		SELECT sido_code, sido_name
		FROM sido
		WHERE sido_code = #{sido_code}
	</select>
	
</mapper>